6.3-dars.HMW/
    manage.py
    PROJECT/
        __init__.py
        settings.py
        urls.py
        wsgi.py
        asgi.py
    common/
        migrations/
        __init__.py
        models.py
        views.py
